.empty-universe {
    color: black;
    display: none;
    text-align: center;
}

div.instanceViewer {
    width: 100%;
    height: 400px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    display: none;
}


.error-gutter { width: 1em; background: transparent; }

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px Arial;
}


.urlinfo{
    background-color: #009933;
    font-weight: 900;
    color: white;
    width: auto;
    padding: 5px;
}

.urlinfo > p{
    margin-top: 10px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

body{
    font-family: monospace !important;
}

.copyrights{
    text-align: center;
}

.nav-bar{
    height: 51px;
}

.cm-comments-alloy{
    color: gray;
}

.cm-comment{
    color: #777;
}

.copyrights-block{
    margin: 0 auto;
}

.sweet-alert button{
    background-color: #009933 !important;
}

.sweet-alert button:hover{
    background-color: #009900 !important;
}

.sweet-alert{
    border-radius: 0px !important;
    left: 51.5%!important;
}

.page-footer{
    padding-top: 9px;
    margin: 40px 0 20px;
    border-top: 1px solid #eee;
}

#instanceViewer{
    height: 400px;
    border: 1px solid black;
    padding: 0px !important;
}

.max-width{
    width: 100%;
}

.settings-button{
    height: 29px;
    width: 29px;
    position: absolute;
    top : -1px;
    right: -29px;
    z-index: 10;
    border: 1px solid black;
}

.settings{
    border-radius: 4px;
    height: 24px;
    width: 128px;
    text-align: left;
}

.settings-panel{
    position: relative;
    top: -1px;
    left: -1px;
    height: 400px;
    width: 0px;
    transition: 0.5s;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
}

.settings-panel > .settings-content{
    display: none;
    margin: 0 auto;
    margin: 10px;
    text-align: center;
}

.settings-panel.open{
    border: 1px solid black;
    width: 45%;
    overflow: visible;
    transition: 0.5s;
}

.settings-panel.open > .settings-content{
    display: block;
}

.settings-panel.open > .settings-button{
    display: block;
    border-left: 0px;
}

.settings-overlay{
    position : absolute;
    top: 0px;
    left: 45%;
    width: 0%;
    height: 100%;
    right: 0;
}

.settings-panel.open + .settings-overlay{
    width: 55%;
    transition: 0.5s;
}

.project-types{
    width : auto;
}

.select2-container{
    width: 150px !important;
}

.settings-content hr{
    border-top: 1px solid #aaa;
}

.settings-button > span{
    font-size: 18px;
}

.slide{
    overflow: hidden;
}

#instance{
    height: 100%;
}

.settings-button:hover{
    background-color: #aaa;
}

.settings-button:focus{
    outline: 0;
}

/*.frame-projection{
    height: 300px;
}*/

#owl-demo{
    height:100%;
}

.cbutton[disabled]{
    color: #6D8A88 !important;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.legend{
    font-size: 14px;
}

.auto-margin{
    margin:0 auto;
}

.command-selection{
    text-align : center;
    margin-top : 30px;
}

.command-selection > select{
    text-align: center;
    background: rgba(142, 140, 140, 0.88);
    border-color: transparent;
    color: #333;
}

#optionsMenu{
    margin: 0px;
    width: auto;
    height: auto;
    display : none;
}

#loading {
    position: absolute; width: 100%; height: 100%; background: url('images/spinner.gif') no-repeat center center;
}

.colorpicker-element{
    border-color: transparent;
    color: #333;
    width: 100%;
    text-align: center;
    background: rgba(142, 140, 140, 0.88);
}

.colorpicker-element.settings{
    background: white !important;
    border-radius: 4px;
    height: 24px;
    width: 128px;
    text-align: left;
}

.shapePickerTarget.settings{
    background: white !important;
    border-radius: 4px;
    height: 24px;
    width: 128px;
}

.shapePickerTarget, .shapePickerTarget > option, .shapePickerType, .shapePickerType > option{
    width: 100%;
    color: #333;
    text-align: center;
    background : rgba(142, 140, 140, 0.88);
    border : transparent;

}

#genInstanceUrl{
    display: none;
}

.margins-10px{
    margin-bottom: 10px;
    margin-top: 10px;
}

.borders-challenges{
    border-right: 1px solid #333;
    border-top: 1px solid #333;
}

.border-bottom-challenges{
    border-bottom: 3px solid #333;
}
.border-challenges{
    border-top: 1px solid #333;
}

.challenges-info{
    color: gray;
    font-size: 12px;
    margin-top: 20px;
}

.challenge-description-style{
    resize: none;
    width: 100%;
    height: 100px;
}

.challenge-title-style{
    width: 100%;
}

.padding-10px{
    padding-bottom: 10px;
    padding-top: 10px;
}

.CodeMirror pre{
    color: lightgray;
}

.challenge-creator{
    height: 70vh;
    padding-bottom: 20px;
}

.cm-start-secret, .cm-end-secret{
    color: #bab8b5;
    background-color: rgba(113, 29, 30, 0.31);
}

.secret{
    color: #bab8b5;
    background-color: rgba(113, 29, 30, 0.76);
}

.challenge-secret{
    background-color: rgba(113, 29, 30, 0.31);
}

.challenge-lock{
    background-color: rgba(191, 57, 60, 0.2);
}

.cm-start-lock, .cm-end-lock{
    color: #bab8b5;
    background-color: rgba(191, 57, 60, 0.2);
}

.lock-block{
    background-color: #ca7841;
}

.lock-header{
    color : rgba(191, 57, 60, 0.8) !important;
}


.lock-gutter{
    color : rgba(191, 57, 60, 0.2);
}

.lock-resize{
    position: relative;
    right: 5px;
}

.margin-top10px{
    margin-top: 10px;
}

.align-center{
    text-align: center;
}

.missing-field::-webkit-input-placeholder {
    color: #dd4632;
}
.missing-field:-moz-placeholder {
    /* FF 4-18 */
    color: #dd4632;
}
.missing-field::-moz-placeholder {
    /* FF 19+ */
    color: #dd4632;
}
.missing-field:-ms-input-placeholder {
    /* IE 10+ */
    color: #dd4632;
}

.lock-password{
    color: #565D58;
    font-size: 20px;
    position: relative;
    top: 5px;
}

.lock-password.wrong{
    color: #dd4632;
}

.margin-top-20px{
    margin-top: 20px;
}

.log-complete{
    background-color: #009933;
    font-weight: 900;
    color: white;
    width: auto;
    padding: 5px;
}

.log-wrong{
    background-color: #99291b;
    font-weight: 900;
    color: white;
    width: auto;
    padding: 5px;
}

.edit-challenge{
    float:right;
}

.btn-margins{
    margin: 5px;
}

.solver-challenge-share{
    float: left;
}

.home-info{
    text-align: center;
    font-size: large;
    margin-bottom: 40px;
}
 .info-container{
     margin: 20px;
     border-bottom: 1px solid #eee;
     border-top: 1px solid #eee;
     padding: 10px;
 }

@media screen and (min-width: 992px) {
    .small-info-container {
        margin-top: 76px;
    }
}

.settings-interface{
    text-align: left;
}

.settings-info{
    color: #f4f4f4 !important;
}

.select2-selection.select2-selection--multiple{
    border-radius: 0px !important;
}

#themeName{
    width: 108px;
    height: 25px;
    border-radius: 4px;
}


.option-field{
    margin-top: 5px;
    border-left: 3px solid #f3f3f3;
    line-height: normal;
}

.input-settings{
    width: 128px;
    border-radius: 4px;
    border-style: none;
    height: 24px;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    padding: 10px;
}

/*.relation-settings{
    display: none;
}

.atom-settings{
    display: none;
}*/

.general-settings-apply{
    height: 26px;
    padding: 0px 3px 0px 3px;
}

.selectize-input{
    background-color : rgba(1,1,1,0.5);
    cursor: default;
    padding-bottom: 32px !important;
    text-align: left;
    border: none !important;
    width: 90%!important;

}

.selectize-input > input{
    display: none !important;
}

.select-elements{
    margin-top: 22px;
}

.select-label{
    position: absolute;
    bottom: 0px;
    right: 20px;
    color: white;
}

.selectize-control.multi .selectize-input > div{
    background: lightslategrey;
    color: #303030;
    border: 0 solid #cacaca;
    font-size: larger;
    font-weight: 900;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
}
.selectize-control.multi .selectize-input > div:hover{
    background-color: #98A9BA;
}

input[disabled]{
    color: grey;
    background-color: lightgray !important;
}

.framePickerTarget.settings{
    background: white !important;
    border-radius: 4px;
    height: 24px;
    width: 128px;
}

.framePickerTarget{
    height: 28px !important;
    position: relative;
    top: 5px;
}

.framePickerTarget, .framePickerTarget > option, .framePickerType, .framePickerType > option{
    width: 100%;
    color: #333;
    text-align: center;
    background : rgba(142, 140, 140, 0.88);
    border : transparent;

}

.frame-navigation{
    position: absolute;
    bottom : 10px;
    left: 45%;
    z-index: 10;
}

.enabled{
    color : #009933 !important;
}

#previousFrame{
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
}

#nextFrame{
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
}

.current-frame{
    padding : 10px;
}

#rightClickInheritAtomColor{
    position: relative;
    top: 3px;
}

.right-click-inherit-color{
    text-align: center;
    background-color: rgba(142, 140, 140, 0.88);
    border-top : 1px solid grey !important;
}

.right-click-shape-picker{
    width: 100%;
    background-color: rgba(142, 140, 140, 0.88);
    padding-left: 16px;
}

.cm-keyword-secret{

}

#headTitle{
  text-align : center;
  font-size : large;
  margin-bottom : 10px;
}

#information{
  margin-bottom: 15px;
}
