
<template name="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">The modeling tool
                </h1>
                <p class="home-info">Alloy is a language for describing structures and a tool for exploring them. It has been used in a wide range of applications from finding holes in security mechanisms to designing telephone switching networks.
                </p>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 info-container">
            <div class="col-md-7 col-xs-12">
                <h3>Alloy editor</h3>
                <a href="/editor">
                    <img src="/images/editor.jpg">
                </a>
            </div>
            <div class="col-md-5 col-xs-12 small-info-container">
                <h4>Create and share</h4>
                <p>Start specifying right away in your browser and share your work with a click of a mouse. Simulate and find counter-examples using the graphic instance visualization.</p>
                <a class="btn btn-primary" href="/editor">Go to editor <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 info-container">
            <div class="col-md-7 col-xs-12">
                <h3>Create challenges</h3>
                <a href="/createChallenge">
                    <img src="/images/challenge.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5 com-xs-12 small-info-container">
                <h4>Defy the community</h4>
                <p>Easily create small challenges for your friends or students to solve using our simple mechanism.</p>
                <a class="btn btn-primary" href="/createChallenge">Create Challenge<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

    </div>
</template>
