<template name="alloyEditor">
    <div class="container-fluid">

        <div class="row">
            <!-- page head -->
            <div id="headTitle" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="page-header">Alloy4Fun
                </h1>
            </div>

        </div>


        <div>
            <div id="information" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>For more information about the language consult the <a target="_blank" href="http://alloytools.org/documentation.html">documentation</a> or try the <a target="_blank" href="http://alloytools.org/tutorials/day-course/">tutorial</a>. </p>
            </div>


            <!-- Code container + buttons -->
            <div class="container max-width">
                {{> textEditor}}

                <!--Command combo box -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="command-selection">
                        <label>Command : </label>
                        {{#with getCommands}}
                            <select>
                                {{#each this}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        {{/with}}
                    </div>
                </div>


                <!-- Previous Instance : prev div
                 Execute : exec div
                 Next Instance : next div -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">

                        <div id="prev" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button id="prevbtn" class="cbutton cbutton--effect-boris float-right">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <i class="cbutton__icon fa fa-fw fa-step-backward auto-margin"></i></div>
                                <span class="cbutton__text">Backward</span><i class="legend">Previous instance</i>
                            </button>
                        </div>

                        <div id="exec" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button id="execbtn" class="cbutton cbutton--effect-boris">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <i class="cbutton__icon fa fa-fw fa-play auto-margin"></i></div>
                                <span class="cbutton__text">Play</span><i class="legend">Execute</i>
                            </button>
                        </div>

                        <div id="validateModel" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button id="validatebtn" class="cbutton cbutton--effect-boris">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <i class="cbutton__icon fa fa-fw fa-play auto-margin"></i></div>
                                <span class="cbutton__text">Play</span><i class="legend">Validate</i>
                            </button>
                        </div>

                        <div id="next" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button id="nextbtn" class="cbutton cbutton--effect-boris float-left">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <i class="cbutton__icon fa fa-fw fa-step-forward auto-margin"></i></div>
                                <span class="cbutton__text">Forward</span><i class="legend">Next instance</i>
                            </button>
                        </div>
                    </div>
                </div>


                <!--  Share model : genUrl div -->

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="genUrl" class="text-center permalink">
                        <button id="genurlbtn" class="cbutton cbutton--effect-boris ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class="glyphicon glyphicon-link"></span>
                            </div>
                            <span class="cbutton__text">GenUrl</span><i class="legend">Share model</i>
                        </button>
                    </div>
                </div>

                <!-- URL div -->
                <div id="url-permalink" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="log"></div>

                <!-- Instance Viewer -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {{drawInstance}}
                    <div id="instanceViewer" class="instanceViewer col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {{> frameNavigation}}
                        <div id="instance"></div>
                        {{> visSettings}}
                    </div>
                </div>

                <!-- Share Instance */ -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="genInstanceUrl" class="text-center permalink">
                        <button id="geninstanceurlbtn" class="cbutton cbutton--effect-boris ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class="glyphicon glyphicon-link"></span>
                            </div>
                            <span class="cbutton__text">GenInstanceUrl</span><i class="legend">Share instance</i>
                        </button>
                    </div>
                </div>
                <div id="url-instance-permalink" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>

            </div>
        </div>
    </div>

</template>