<template name="elementSelection">
    <div class="select-elements">
        <div class="wrapper-select-atom">
            <select multiple id="selectAtom" class="teste-class">
            </select>
        </div>
        <div class="wrapper-select-subset">
            <select multiple id="selectSubset" class="teste-class">
            </select>
        </div>
        <div class="wrapper-select-relation">
            <select multiple id="selectRelation" class="">
            </select>
        </div>
    </div>
</template>