<template name="instanceViewer">
    <div id="instanceViewer" class="instanceViewer col-xs-12">
        <div id="instance"></div>
        <div class="settings">
            <div class="settings-panel">
                <div class="settings-content">
                    {{> visSettings}}
                </div>
                <button id="settings-button" class="settings-button">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </button>
            </div>
            <div class="settings-overlay"></div>
        </div>
    </div>
</template>